.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__header {
  position: absolute;
  display: flex;
  top: 15px;
  align-items: center;
  gap: 10px;
}

.card__name {
  margin: 0;
  font-size: 16px;
  color: #00000099;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 2px 12px;
}

.card__image {
  width: 100%;
  border: 1px solid #0000004d;
  border-radius: 8px;
  cursor: pointer;
}

.card__like-icon {
  display: block;
}

.card__like-icon-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.card__like-icon-button--active {
  background-image: url("../../assets/like-active.svg");
}
